{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% set inputClasses = 'py-2.5 px-5 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-200 dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200' %}

{% block body %}
    {{ form_start(form, { attr: { id: 'expense_form', class: 'flex justify-center my-5' } }) }}
    <div class="mx-2">
        {{ form_row(form.type, {attr: {class: inputClasses}}) }}
    </div>
    <div class="mx-2">
        {{ form_row(form.categoryId, {attr: {class: inputClasses}}) }}
    </div>
    <div class="mx-3">
        {{ form_end(form) }}
    </div>
    {{ forms.renderExpensesArray(expenses) }}
    <div id="user-id" style="display: none">{{ userId }}</div>
{% endblock %}

{% block javascripts %}
    {{ forms.categoriesJS('expense_form', 'category_search_type', 'category_search_categoryId') }}
{% endblock %}