{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% set inputCLasses = 'py-2.5 px-5 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-200 dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200' %}

{% block body %}
    {{ form_start(form, { attr: { class: 'flex justify-center my-5 flex-col' } }) }}
    <div class="flex flex-row justify-center">
        <div class="mx-2">
            {{ form_row(form.previous) }}
        </div>
        <div class="mx-2">
            {{ form_row(form.date, { attr: { class: inputCLasses}}) }}
        </div>
        <div class="mx-2">
            {{ form_row(form.next) }}
        </div>
    </div>
    <div class="flex justify-center mt-2">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
    {{ forms.renderExpensesArray(expenses) }}
{% endblock %}