{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% set inputCLasses = 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 justify-center' %}

{% block body %}
    {{ form_start(form, { attr: { class: 'flex justify-center mt-10 flex-col' } }) }}
    <div class="flex flex-row justify-center">
        {{ form_row(form.previous) }}
        {{ form_row(form.date, { attr: { class: inputCLasses}}) }}
        {{ form_row(form.next) }}
    </div>
    <div class="flex justify-center mt-2">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
    {{ forms.renderExpensesArray(expenses) }}
{% endblock %}