{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% block body %}
    <a href="/expenses-by-date">Go to all expenses filtered by date</a>
    {{ form_start(form, { attr: { id: 'expense_form' } }) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type) }}
    {{ form_row(form.categoryId) }}
    {{ form_row(form.description) }}
    {{ form_row(form.spending) }}
    {{ form_end(form) }}
    <div id="user-id" style="display: none">{{ userId }}</div>
{% endblock %}

{% block javascripts %}
    {{ forms.categoriesJS() }}
{% endblock %}