{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% set inputCLasses = 'py-2.5 px-5 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-200 dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200' %}

{% block body %}
    <h1 class="text-3xl mb-2">Today's expenses</h1>
    
    {{ forms.renderExpensesArray(expenses) }}
    {{ form_start(form, { attr: { id: 'expense_form', class: 'flex justify-center mt-10' } }) }}
    <div class="mx-2">
        {{ form_row(form.date, {attr: {class: inputCLasses}}) }}
    </div>
        <div class="mx-2">
    {{ form_row(form.type, {attr: {class: inputCLasses}}) }}
    </div>
        <div class="mx-2">
    {{ form_row(form.categoryId, {attr: {class: inputCLasses}}) }}
    </div>
        <div class="mx-2">
    {{ form_row(form.description, {attr: {placeholder: "Description", class: inputCLasses}}) }}
    </div>
        <div class="mx-2">
    {{ form_row(form.spending, {attr: {placeholder: "100", class: inputCLasses}}) }}
    </div>
        {{ form_end(form) }}
    <div id="user-id" style="display: none">{{ userId }}</div>
{% endblock %}

{% block javascripts %}
    {{ forms.categoriesJS('expense_form', 'expense_type', 'expense_categoryId') }}
{% endblock %}