{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% set inputCLasses = 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %}

{% block body %}
    <h1 class="text-3xl mb-2">Today's expenses</h1>
    
    {{ forms.renderExpensesArray(expenses) }}
    {{ form_start(form, { attr: { id: 'expense_form', class: 'flex justify-center mt-10' } }) }}
    {{ form_row(form.date, {attr: {class: inputCLasses}}) }}
    {{ form_row(form.type, {attr: {class: inputCLasses}}) }}
    {{ form_row(form.categoryId, {attr: {class: inputCLasses}}) }}
    {{ form_row(form.description, {attr: {placeholder: "Description", class: inputCLasses}}) }}
    {{ form_row(form.spending, {attr: {placeholder: "100", class: inputCLasses}}) }}
    {{ form_end(form) }}
    <div id="user-id" style="display: none">{{ userId }}</div>
{% endblock %}

{% block javascripts %}
    {{ forms.categoriesJS() }}
{% endblock %}