{% import "macro/form.html.twig" as forms %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Today's expenses</h1>
    {{ forms.renderInfo() }}
    {{ forms.renderExpensesArray(daily) }}
    {{ forms.renderExpensesArray(home) }}
    {{ forms.renderExpensesArray(major) }}
    {{ form_start(form, { attr: { id: 'expense_form', class: 'flex justify-center mt-5' } }) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type) }}
    {{ form_row(form.categoryId) }}
    {{ form_row(form.description) }}
    {{ form_row(form.spending) }}
    {{ form_end(form) }}
    <div id="user-id" style="display: none">{{ userId }}</div>
{% endblock %}

{% block javascripts %}
    {{ forms.categoriesJS() }}
{% endblock %}