{% set defaultFormClasses = 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'%}

{% macro renderExpense(expense) %}
    <div class="expense-item table-row">
        <div class="date table-cell">{{ expense.date }}</div>
        <div class="type table-cell">{{ expense.type }}</div>
        <div class="category table-cell">{{ expense.categoryId }}</div>
        <div class="spending table-cell">{{ expense.spending }}</div>
        <div class="description table-cell">
            {% if expense.description %}
                {{ expense.description }}
            {% else %}
                <div class="text-gray-400">Description</div>
            {% endif %}
        </div>
        <a class="edit-link table-cell" href="/expenses/{{ expense.id }}">Edit</a>
        <a class="delete-link table-cell" href="/expenses/delete/{{ expense.id }}" onclick="return confirm('Are you sure that ypu want to delete this expense?')">Delete</a>
    </div>
{% endmacro %}

{% macro renderInfo() %}
    <div class="columns-6">
        <div>Date</div>
        <div>Type</div>
        <div>Category</div>
        <div>Spending</div>
        <div>Description</div>
        <div>Edit link</div>
    </div>
{% endmacro %}

{% macro renderExpensesArray(expenses) %}
    <div class="expenses-array text-2xl table w-full">
        {% for expense in expenses %}
            {{ _self.renderExpense(expense) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro renderCategory(category) %}
    <div class="category flex flex-row">
        <div class="name w-1/4">
            {{ category.name }}
        </div>
        <div class="description">
            {{ category.description }}
        </div>
        <div id="user-id" style="display: none">{{ category.id }}</div>
    </div>
{% endmacro %}


{% macro categoriesJS(formId, typeId, categoryId) %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.getElementById('{{formId}}');
            const form_select_type = document.getElementById('{{typeId}}');
            const form_select_category = document.getElementById('{{categoryId}}');
            const userId = document.getElementById('user-id').innerText;

            const updateForm = async (data) => {
                const req = await fetch('/categories-by-type', {
                    method: 'post',
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'charset': 'utf-8'
                    }
                });

                const text = await req.text()
                return JSON.parse(text);
            };

            const parseTextToHtml = (text) => {
                const parser = new DOMParser();
                return parser.parseFromString(text, 'text/html');
            };

            const changeOptions = async (e) => {
                const updateFormResponse = await updateForm(JSON.stringify({type: e.target.value, userId}));
                form_select_category.innerHTML = updateFormResponse.map((e) => '<option value="' + e.id + '">' + e.name + '</option>').join('');
            };

            form_select_type.addEventListener('change', (e) => changeOptions(e));
        });
    </script>
{% endmacro %}
